In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split 
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
import pickle
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report

In [4]:
dataset=pd.read_csv('Pre_Obesity_prediction.csv')

In [5]:
dataset

     Age  Height  Weight   BMI  target  gender
0     25     175      80  25.3       0       1
1     30     160      60  22.5       0       0
2     35     180      90  27.3       2       1
3     40     150      50  20.0       3       0
4     45     190     100  31.2       1       1
..   ...     ...     ...   ...     ...     ...
103   11     175      10   3.9       3       1
104   16     160      10   3.9       3       0
105   21     180      15   5.6       3       1
106   26     150      15   5.6       3       0
107   31     190      20   8.3       3       1

[108 rows x 6 columns]

In [6]:
dataset = pd.get_dummies(dataset, drop_first=True,dtype=int)

In [7]:
dataset

     Age  Height  Weight   BMI  target  gender
0     25     175      80  25.3       0       1
1     30     160      60  22.5       0       0
2     35     180      90  27.3       2       1
3     40     150      50  20.0       3       0
4     45     190     100  31.2       1       1
..   ...     ...     ...   ...     ...     ...
103   11     175      10   3.9       3       1
104   16     160      10   3.9       3       0
105   21     180      15   5.6       3       1
106   26     150      15   5.6       3       0
107   31     190      20   8.3       3       1

[108 rows x 6 columns]

In [8]:
indep_X=dataset.drop(['target'], axis=1)
dep_Y=dataset['target']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(indep_X, dep_Y, test_size = 0.25, random_state = 0)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
Accuracy=accuracy_score(y_test, y_pred )
report=classification_report(y_test, y_pred)

In [12]:
Accuracy

0.9629629629629629

In [18]:
print(report)

              precision    recall  f1-score   support

           0       0.80      1.00      0.89         4
           1       1.00      1.00      1.00         4
           2       1.00      0.88      0.93         8
           3       1.00      1.00      1.00        11

    accuracy                           0.96        27
   macro avg       0.95      0.97      0.96        27
weighted avg       0.97      0.96      0.96        27

In [19]:
import pickle
# Defining the filename for saving the model
filename="Finilised_Model.sav"

In [21]:
# Saving the trained model to a file
pickle.dump(classifier,open(filename,'wb'))